body {
    background-color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to right, #de2e03, #ff7c39);
}

.header-container {
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
}

header a {
    margin: 10px;
}

h2, h3 {
    color: #de2e03;
}

p {
    font-size: 22px;
}

h2 {
    margin: 6% 0% 6% 0%;
}

.main-message {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
}

main h1 {
    width: 270px;
    height: 190px;
    line-height: 1.5;
    font-style: italic;
    /* ¿Se podrá usar -webkit-? Aún así, es sólo para esto, se cambia rápido */
    background-image: linear-gradient(to left, #de2e03, #ff7c39);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
}

.sub-1 {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

hr {
    border-color: #c00000;
    margin: 0px 30px 0px 30px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 32px;
    height: 32px;
    margin-left: 4%;
}

.sub-1 p {
    margin: 0% 8% 8% 8%;
}

strong {
    color: #de2e03;
}

.sub-1-img {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.creditos p {
    font-size: small;
}

.index-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px auto 20px auto;
}

.index-content {
    display: flex;
    justify-content: center;
    width: 300px;
    border: 5px solid;
    border-image: linear-gradient(to right, #de2e03, #ff7c39);
    border-image-slice: 1;
}

li {
    font-size: larger;
    line-height: 40px;
    font-style: italic;
}

li a , ol{
    color: rgb(42, 42, 42);
}

li a:visited {
    color: rgb(42, 42, 42);
}

#index-title {
    margin-top: 35px;
    color: #c00000;
}

.flex-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.basic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    flex-direction: column;
    
}

.mid-level h2, h3 {
    color: #107acc;
}

.mid-level strong {
    color: #2898ee;
}

.flex-container p {
    margin: 0;
    padding: 0;
}

.quote {
    background-color: #ffe4c4;
    border-radius: 10px;
    padding: 10px;
}

.sep {
    display: flex;
    justify-content: center;
    padding: 60px 0px 60px 0px;
}

.mid-level hr {
    margin: 25px 30px 25px 30px;
    border-color: #2898ee;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0 60px 0;
}

#neut {
    color: rgb(80, 80, 80);
}

.table-container{
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: rgb(254, 196, 124);
}

td:first-child {
    background-color: rgb(251, 206, 152);
}

td:nth-child(2) {
    background-color: #faa460;
}

td:nth-child(3) {
    background-color: rgb(220, 220, 220);
}

.light td:nth-child(3) {
    background-color: #000000;
    color: #ffffff;
}

.light td:nth-child(2) {
    background-color: rgb(220, 220, 220);
}

.light td:nth-child(1) {
    background-color: #ffffff;
}