body {
    background-color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

h2, h3 {
    color: #de2e03;
}

p {
    font-size: 22px;
}

h2 {
    margin: 6% 0% 6% 0%;
}

/* Sí...*/
img {
    border-radius: 5px;
}

.main-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-message h1 {
    width: 350px;
    height: auto;
    text-align: center;
    padding: 50px;
    color: #c00000;
    font-style: italic;
    line-height: 1.5;
}

.sub-1 {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

hr {
    border-color: #c00000;
    margin: 0px 30px 0px 30px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 32px;
    height: 32px;
    margin-left: 4%;
}

.sub-1 p {
    margin: 0% 8% 8% 8%;
}

strong {
    color: #de2e03;
}

.sub-1-img {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.creditos p {
    font-size: small;
}

.index-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px auto 20px auto;
}

.index-content {
    display: flex;
    justify-content: center;
    width: 300px;
    border: 5px solid;
    border-image: linear-gradient(to right, #de2e03, #ff7c39);
    border-image-slice: 1;
}

li {
    font-size: larger;
    line-height: 40px;
    font-style: italic;
}

li a,
ol {
    color: rgb(42, 42, 42);
}

li a:visited {
    color: rgb(42, 42, 42);
}

#index-title {
    margin-top: 35px;
    color: #c00000;
}

.flex-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.basic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    flex-direction: column;

}

.mid-level h2,
h3 {
    color: rgb(30, 110, 176);
}

.mid-level strong {
    color: rgb(30, 110, 176);
}

.flex-container p {
    margin: 0;
    padding: 0;
}

.quote {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
}

.sep {
    display: flex;
    justify-content: center;
    padding: 60px 0px 60px 0px;
}

.mid-level hr {
    margin: 25px 30px 25px 30px;
    border-color: #397cff;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0 60px 0;
}

#neut {
    color: rgb(80, 80, 80);
}

.table-container {
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: #cccccc;
}

td:first-child {
    background-color: rgb(251, 206, 152);
}

td:nth-child(2) {
    background-color: #faa460;
}

td:nth-child(3) {
    background-color: rgb(220, 220, 220);
}

.light td:nth-child(3) {
    background-color: #000000;
    color: #ffffff;
}

.light td:nth-child(2) {
    background-color: rgb(220, 220, 220);
}

.light td:nth-child(1) {
    background-color: #ffffff;
}

.small-v-margin {
    margin: 10px 0;
}

.medium-v-margin {
    margin: 50px 0;
}

.sp-ev {
    display: flex;
    justify-content: space-evenly;
}

.z-img {
    width: 100%;
    height: 300px;
    position: relative;
}

.z-img img:first-child {
    position: absolute;
    top: 80px;
    right: 40px;
    z-index: 3;
}

.z-img img:nth-child(2) {
    position: absolute;
    top: 100px;
    right: 70px;
    z-index: 2;
}

.z-img img:nth-child(3) {
    position: absolute;
    top: 30px;
    left: 60px;
}

.z-img img {
    border-radius: 3px;
}

.carousel-auto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #000000;
    border-radius: 5px;
}

.carousel-auto p {
    color: #ffffff;
}

.carousel-auto img {
    border-radius: 3px;
}

.mainImgAuto, .mainTextAuto {
    transition: opacity 0.5s ease;
}

/* Llegado a este punto, no sé por qué no simplemente hago una clase
"borded" que aplique los bordes redondeados...*/

.quote-ideas {
    width: 290px;
    height: auto;
    background: linear-gradient(to right bottom, #4286f4, #8f34a3);
    border-radius: 7px;
    padding: 15px;
}

.ideas-el {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    word-break: break-all;
}

.ideas-el p {
    margin: 0 5px;
    font-size: small;
    color: #ffffff;
}

.quote-ideas hr {
    border-color: #ffffff;
}

.det {
    width: 140px;
    height: 100px;
}

.creditos p {
    color: initial;
}

.res-comp {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-evenly;
    margin: 35px 0;
}

.res-bef-aft {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}

.res-bef-aft:first-child {
    background: linear-gradient(to right ,#FFA500, #FFBF00);
    border-radius: 5px 0 0 5px;
}

.res-bef-aft:last-child {
    background: linear-gradient(to right , #FFBF00, #6ab04c);
    border-radius: 0 5px 5px 0;
}

.dal {
    color: #000000;
}

.end {
    margin: 35px;
}

.del {
    color: #ffffff;
}